.side-bar {
    float: right;
    background-color: purple;
    height: 100%;
}

.main{
  float: left;
  background-color: aqua;
  text-align: center;
}

div img {
    float: center;
}

.second-bar {
    float: left;
    float: right;
}